.footer {
  height: 4rem;
  background-color: #333;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

p {
  font-family: "Sniglet", serif;
}

section {
  display: flex;
  margin: 2rem;
  font-size: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 0.5rem;
}

img {
  width: 35px;
  border-radius: 50px;
}

@media (max-width: 430px) {
  img {
    width: 20px;
  }
}
